<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <li>
<%=data.name  %> 
        </li>
        <li>
            <%=data.price  %> 
         </li>
    <img src="<%= data.image_link %> ">
  <li>
<%=data.description  %> 
  </li>
  <form action="/update/<%= data.id %>?_method=put" method="POST">
    <input name="name" value="<%=data.name  %> " >
    <input name="price" value="<%=data.price  %> " >
    <input name="image_link" value="<%=data.image_link   %> " >
    <input name="description" value="<%=data.description  %> " >
    <button type="submit">update</button>
  </form>
    </div>
</body>
</html>